streamlit
transformers>=4.30.0
sentencepiece
sacremoses
torch --index-url https://download.pytorch.org/whl/cpu
edge-tts
easyocr
langdetect
streamlit-folium
streamlit-mic-recorder
pillow
numpy
python-docx
pymupdf
